<div class="container">
  <search-bar [searchTerm$] = "searchTerm$" (search)="onSearch($event)"></search-bar>
  <div class="graphics-card-catalog" #scrollContainer (scroll)="onScroll()">
    <graphics-card-card *ngFor="let graphicsCard of graphicsCards$ | async" [GPU]="graphicsCard"
      class="graphics-card-card"></graphics-card-card>
    <div *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="error$ | async as error" class="error-message">
      No Graphics Cards to show
    </div>
  </div>
</div>
